{% extends 'base.html' %}
{% load static %}
{% load my_custom_tag %}

{% block title %}My Site{% endblock %}

{% block content %}
    <h1>Каталог новостей</h1>
    <p>Всего новостей: {{ news_count }}</p>
    <p>Всего пользователей: {{ users_count }}</p>
    <nav>
        <ul>
            {% for item in menu %}
                <li>{% my_custom_tag item %}</li>
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <img src="{%   static 'IMG_4186.jpeg' %}" alt="Image" width="300" height="200"/>
{% endblock %}